# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# VSCode settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# JetBrains IDEs
.idea/

.github/